$color_white: #ececec;
$color_black: #111;

@font-face {
    font-family: Oswald-ExtraLight;
    src: local("Oswald-ExtraLight"), url(/fonts/Oswald-ExtraLight.ttf);
}
* {
    // border: 1px solid #fff;
    color: #d0d0d0;
}
html,
body {
    padding: 0;
    margin: 0;
    background-color: $color_black;
    color: $color_white;
}
a {
    text-decoration: none;
}
h2,
h3 {
    z-index: 1000;
}
canvas {
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0.9;
}
