$color_white: #ececec;
$color_black: #111;

@font-face {
    font-family: Oswald-ExtraLight;
    src: local("Oswald-ExtraLight"), url(/fonts/Oswald-ExtraLight.ttf);
}
* {
    // border: 1px solid #fff;
    color: #d0d0d0;
}
html,
body {
    padding: 0;
    margin: 0;
    background-color: $color_black;
    color: $color_white;
}
a {
    text-decoration: none;
}
h2,
h3 {
    z-index: 1000;
}
canvas {
    position: fixed;
    left: 0;
    top: 0;

    opacity: 0.9;
    // display: none;
}
.images {
    * {
        border: 1px solid #fff;
    }
    $width: 900px;
    $hight: calc($width / 4 * 3);

    width: 100%;
    display: flex;
    flex-direction: column;

    // justify-content: flex-end;

    justify-content: flex-end;
    justify-content: start;
    // align-items: flex-end;
    @media (max-width: $width) {
        flex-direction: row;
        flex-wrap: wrap;
    }

    :nth-child(odd) {
        align-self: flex-end;
        justify-self: flex-end;
    }
    .img {
        width: calc(100vw - 20px);
        width: 900px;
        width: 90%;
        flex: 0 1 $hight;

        @media (max-width: 900px) {
            flex: 0 1 $width;
            padding-bottom: calc(100% / 4 * 3);
            height: unset;
        }

        background-size: contain;
        // background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.imgs {
    * {
        // border: solid 1px #fff;
    }
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    // justify-content: space-between;
    position: relative;
    padding: 0 40px;
    z-index: 1;
    @media (max-width: 768px) {
        padding: 0;
        gap: 70px;
    }
    :nth-child(odd) {
        // justify-self: end;
        justify-content: end;

        .img {
            filter: drop-shadow(-20px 20px 10px rgba(0, 0, 0, 0.7));
        }
        // background-color: red;
    }
    :nth-child(even) {
        // filter: drop-shadow(20px 20px 10px rgba(0, 0, 0, 0.7));
        .img {
            filter: drop-shadow(20px 20px 10px rgba(0, 0, 0, 0.7));
        }
        .zoomed-image-wrapper {
        }
    }
    :nth-child(1) {
        .zoomed-image-wrapper {
            // display: flex;
        }
    }
    .img-wrapper {
        width: 100%;
        display: flex;
        position: relative;
    }
    .img {
        cursor: zoom-in;
        min-width: 100px;
        // width: 500px;
        max-width: 90%;
        min-height: 0px;
        max-height: 500px;
        // height: 500px;
        padding: 25px;
        // box-shadow: -10px -10px 10px 10px rgba(0, 0, 0, 0.5);
        // -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7));
        // filter: drop-shadow(20px 20px 10px rgba(0255, 0255, 0255, 0.1));
    }
    .zoomed-image-wrapper {
        transition: all 0.5s;
        overflow: hidden;
        opacity: 0;
        visibility: hidden;
        z-index: -1;

        display: flex;
        width: 100vw;
        height: 100vh;
        position: fixed;
        left: 0;
        top: 0;
        background-color: rgba(56, 56, 56, 0.5);
        background-color: rgba(28, 28, 28, 0.5);

        z-index: 1000;
        align-items: center;
        justify-content: center;

        &.active {
            opacity: 1;
            visibility: visible;
        }
        .background {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }
        .zoomed-image {
            max-width: 90%;
            max-height: 90%;
            min-width: 0vw;
            min-height: 0vh;
        }
        .prev,
        .next {
            position: absolute;
            top: 50%;
            background: unset;
            border: 0;
            font-size: 50px;
            width: 50px;
            height: 50px;
            cursor: pointer;
            z-index: 1001;
            opacity: 0;
            transition: all 0.5s;
            &.active {
                opacity: 1;
            }
        }
        .prev {
            left: 0;
        }
        .next {
            right: 0;
        }
    }
}

.resume {
    padding: 0 90px;
    // padding-top: 90px;
    padding-top: calc(90px + 40px);
    // height: 85vh;
    padding-bottom: 40px;
    min-height: calc(100vh - 90px - 40px - 40px - 195px);

    display: flex;
    gap: 45px;
    flex-direction: column;
    // flex-wrap: wrap;

    @media (max-width: 768px) {
        padding: 0 10px;
        padding-top: calc(40px + 40px);
        flex-direction: column;
    }
    div {
        flex: 1 1 45%;
        min-height: 35vh;
        // max-height: 90vh;
        z-index: 1;

        b {
            padding-left: 0;
        }
        ul {
            padding-left: 20px;
            font-size: 15px;
        }
        li {
            list-style-type: none;
            // font-size: 13px;
            &::marker {
                margin: 0;
            }
            .svg-inline--fa {
                margin-right: 10px;
                font-size: 18px;
            }
        }
        .link-title {
            * {
                color: #ac4142;
            }
            .svg-inline--fa {
                font-size: 10px;
            }
        }
        div {
            font-size: 14px;
            padding-left: 20px;
            padding-right: 20px;
            line-height: 20px;
        }
    }
    .content {
        // padding-top: 40px;
        flex: 1 1 35%;
        z-index: 1;
        h2 {
            padding-bottom: 20px;
        }
        h3 {
        }
    }

    .pic {
        flex: 1 1 55%;
        background-image: url(/images/fai/000082600003.jpg);
        background-size: contain;
        background-size: cover;

        background-repeat: no-repeat;
        // background-position: center;
        // background-position: right 50%;
        background-position: 75% 25%;
        z-index: 1;
        margin-top: 30px;
        margin-bottom: 30px;
        @media (max-width: 768px) {
            margin-top: 0;
            flex: 1 1 70vh;
            width: calc(100% - 40px);
        }
    }
    .first {
        display: flex;
        @media (max-width: 768px) {
            flex-direction: column;
        }
    }
    .second {
        display: flex;
        background-color: rgba(25, 25, 25, 0.5);
        padding: 20px 0;
        gap: 200px;
        justify-content: space-between;
        margin-bottom: 20px;
        @media (max-width: 768px) {
            gap: 40px;
            // padding: 40px 0;
            margin-top: 40px;
            padding-bottom: 60px;
        }
        div,
        li {
            min-height: unset;
            font-size: 14px;
            .button-container {
                // display: flex;
                padding: 0;
                min-height: unset;
                button {
                    background-color: rgba(100, 100, 100, 0.5);
                    border-radius: 15px;
                    border: 0;
                    // padding: 10px;
                    margin: 5px;

                    // // flex: 0 1 10%;
                    // height: 30px;
                }
            }
        }
        @media (max-width: 768px) {
            flex-direction: column;
        }
    }
    .third {
        flex-direction: row-reverse;
        display: flex;
        min-height: 60vh;
        // gap: 20px;
        @media (max-width: 768px) {
            flex-direction: column;
        }
        .pic {
            // display: none;
            // margin-left: 20px;
            // background-size: contain;
            background-position: center;
            margin: 100px 20px;
            flex: 1 1 25%;
            background-image: url(/images/works/scene/SCENE-選輯/000002070002.jpg);
            @media (max-width: 768px) {
                width: calc(100% - 40px - 40px);
            }
        }
        .content {
            // padding-left: 5px;

            padding-top: 20px;
            padding-bottom: 20px;
            background-color: rgba(25, 25, 25, 0.5);
            flex: 1 1 65%;
            @media (max-width: 768px) {
                padding-bottom: 60px;
            }
        }
    }
}
